rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uuid} {
      function canTouch() {
        return request.auth != null && request.auth.uid == uuid;        
      }
      allow read: if canTouch();
      allow create: if canTouch();
      // && request.resource.data.notificationId is string
      // && request.resource.data.hasOnly(['notificationId']);
      allow update: if canTouch()
      && request.resource.data.notificationId is string
      && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['notificationId']);
    }
  }
}