rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uuid} {
      function canTouch() {
        return request.auth != null && request.auth.uid == uuid;        
      }
      allow read: if canTouch();
      allow write: if canTouch()
      && request.resource.data.notificationId is string
      && request.resource.data.keys().hasOnly(['notificationId']);
    }
  }
}