body {
    margin: 0px;
}
// Main background image
.bg {
    background: url(../res/bg.svg) no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}
#main {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}